* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
body{
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 412px) {

  body {
    background: #000;
  }

  .calculator .container-row {
    padding: 0;
  }

}